body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #745644;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #453A34;
    padding: 0;
    color: #cead9a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-links a {
    text-decoration: none;
    color: #cead9a;
    font-size: 16px;
    transition: 0.3s;
    padding-right: 15px;
}

.navbar .logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.navbar .logo img {
    height: 110px;
    width: 110px;
    margin-right: 0px;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
    padding-left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 5px;
    margin: 0;
    min-width: 0px;
    
}

.nav-links li {
    display: inline;

}



.nav-links a:hover {
    color: #f4a261;
}


.menu-item img {
    width: 100%;
    border-radius: 8px;
}

.menu-item {
    text-align: center;
}

.meniu-vegetarian {
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items per row */
    gap: 20px;
    color: #fdf0d5;
}

.meniu-vegetarian1 {
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 items per row */
    gap: 20px;
    color: #fdf0d5;
    max-width: 700px;
    align-items: center;
    justify-content: center;
    place-items: center;
    padding-left: 470px;
}


footer {
    background-color: #453A34; /* Light background */
    padding: 40px 60px;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}



.contact-info h3, .social-media h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-info p, .social-media p {
    margin: 5px 0;
}

.social-media a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #f4a261;
}

.social-media{
    padding-top: 60px;
}


.map iframe {
    border-radius: 8px;
    width: 100%;
    height: 300px;
    max-width: 370px;
}

.footer-bottom {
    text-align: center;
    padding-top: 50px;
    font-size: 14px;
    color: #f8f8f8;
}

